/* This is the file, "fonts.css." */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraLight.ttf') format('truetype');
    font-style: normal;
 }
 @font-face {
    font-family: 'DancingScript';
    src: url('../fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
    font style: normal;
 }
 @font-face {
     font-family: 'Poppins2';
     src: url('../fonts/Poppins-Medium.ttf') format('truetype');
     font-style: normal;
  }
